[2014-09-06 05:42] Calib opened #1 "Retired"
Stop unwanted email

[2014-09-12 16:04] gtour opened #2 "Add Webservice Request: Gagneraud.fr and Alinto.net"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for webmail.alinto.net

[2014-09-17 16:49] jositapa opened #3 "Add Webservice Request: TYPE_NAME_OF_WEBMAIL_SERVICE_HERE"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for TYPE_NAME_OF_WEBMAIL_SERVICE_HERE

[2014-10-04 19:49] famewolf opened #4 "Add Webservice Request: Yandex"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for Yandex (https://mail.yandex.com/neo2/#compose)

[2014-10-06 01:27] #4 closed, assigned to Noitidart

[2014-10-12 22:40] Carmelo-Rizzo opened #5 "Add Webservice Request: IBM_Smartcloud_Web_Mail"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for IBM_Smartcloud_Web_Mail

[2014-11-03 08:29] #2 closed, assigned to nobody

[2014-11-03 17:21] rolling112 opened #6 "Add Webservice Request: Zimbra"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for Zimbra.

Thanks!

[2014-11-13 09:23] blpraveen opened #7 "Location specific WebEmail Server"
Hi Noitidart,
In our company we use different mail server based on the location like email-blr.company.com/owa (Bangalore) and email.company.com/owa (london)
How can set the default webmail server based on the location?
How do I get the user location and based on that have default web-mail server enabled

[2014-12-06 10:14] lunchboxer opened #8 "Add Webservice Request: NetEase"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for NetEase webmail, a very popular Chinese webmail service. They don't have an English version but you can find more at http://email.163.com . It's the biggest webmail service in China unless you count QQ.

[2014-12-08 20:36] hotsyncuk opened #9 "Add Webservice Request: My Own URL"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for My Own URL.

Hello can I add custom links for example to just my webserver ?

[2014-12-11 17:20] aalbaugh opened #10 "Add Webservice Request: Verizon Message Center - mail.verizon.com"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for Verizon message center.  mail.verizon.com

I understand this is probably a niche request, but i was wondering if there were any plans to add it in.

Thanks!

[2014-12-11 17:36] Noitidart opened #11 "Custom add - social share"
Allow custom add so people can add the non-popular ones themselves rather then requesting it for public release.

Share these custom add's socially for all add-on users via drop down or something creative.

[2015-01-15 19:17] rolacher opened #12 "Add Webservice Request: GMX.NET"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for TYPE_NAME_OF_WEBMAIL_SERVICE_HERE

[2015-01-16 07:15] Noitidart commented on #12
Hi @rolacher Ill add this. Do you know of an existing url I can feed to the handler?

Something in the format: `www.gmx.net/compres?s=receiving_address@blah.com`?

[2015-01-16 07:31] Noitidart commented on #10
Hi @aalbaugh did you hear back from verizon?

[2015-01-16 23:53] taylorjwalker opened #13 "Add Webservice Request: Comcast.net"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for Comcast.net.

[2015-01-17 11:11] Noitidart commented on #13
I'll look into it. :)

[2015-01-17 19:43] callmetaste opened #14 "Add Webservice Request: login.microsoftonline.com"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for Outlook for organizations __*login.microsoftonline.com*__.

[2015-01-17 22:17] Noitidart commented on #14
I can't make an account at login.microsoftonline.com can you please send an email to your suppot team with this question:

[2015-01-17 22:30] #7 closed

[2015-01-19 09:39] mildred opened #15 "Add Webservice Request: Zimbra webmail at zimbra.free.fr"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for http://zimbra.free.fr

The Url is:

    https://zimbra.free.fr/zimbra?app=mail&view=compose&to=%s

[2015-01-19 09:51] mildred commented on #11
For anyone looking for custom add, I found how to do it manually:

- Go to [the option page](chrome://mailtowebmails/content/options/prefs.html)

- Open the web console `Ctrl+Shift+K`

- Execute the following lines (customize the name and uriTemplate) Copy and paste one line after another :

        handler = Cc['@mozilla.org/uriloader/web-handler-app;1'	].createInstance(Ci.nsIWebHandlerApp);

[2015-01-19 15:07] Noitidart commented on #15
Thanks @mildred figuring out that URL is the hardest part. Is this a  popular webmail service? Or should I add it to the custom/social section of next release?

Figuring out that wild card URL is the hardest part, if you provide that I can knock this up in a second. So here's a fork that can do handle this: https://github.com/Noitidart/MailtoWebmails/tree/%2315-Zimbra

Download that XPI and instal

[2015-01-19 15:09] Noitidart commented on #11
Thanks for sharing @mildred here is some more informtation on it: [GitHubGIST :: Noitidart / _ff-addon-tutorial-CheckGetSetRemoveAddHandlerOfProtocol.md](https://gist.github.com/Noitidart/2faaac70c62bc13e7773)

[2015-01-19 15:36] Noitidart commented on #13
Hey @taylorjameswalker it took awhile for me to find the wildcard mail handler but I found it.

I released it here: https://github.com/Noitidart/MailtoWebmails/commit/1118c2d93026e6d458021e8ae65cb494c8820e9e

Download XPI and install. :)

[2015-01-23 04:40] Pointer111 opened #16 "Add Webservice Request: NETZERO WEBMAIL"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for NETZERO WEBMAIL, which I access at https://webmail.netzero.net

[2015-01-23 04:45] Pointer111 opened #17 "Add Webservice Request: TWCSD WEBMAIL"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for TWCSD WEBMAIL, which I access at https://webmail.san.rr.com

[2015-01-23 15:20] Noitidart commented on #16
I'll look into these :)

[2015-01-25 08:58] Pointer111 commented on #16
I found a link that opens compose new mail, but it does not have the wildcard to capture the addressee. Hoping you know how to find or make that work...
http://webmail.netzero.net/?cf=pinsite&start_page=write

[2015-01-25 09:32] Noitidart commented on #16
Thanks @Pointer111 for finding that, i was also struggling to find a wildcard-able URL. :(

Can you email the support team asking for a wildcard url thats what I do as last resort.

[2015-01-26 13:57] mcglewis opened #18 "MailToWebmails not woking properly with Fastmail"
I just installed MTW and when I click on a mailto link, it places the entire link in the "TO:" box in Fastmail (see attached image). Am I doing something wrong?
![mtw image](https://cloud.githubusercontent.com/assets/10372126/5900632/4e85e63a-a539-11e4-8752-b35a2d8b412e.png)

[2015-01-26 15:00] Noitidart commented on #18
Thanks for that report, no you're not doing anything wrong, I'll look into why this is happening.

[2015-01-26 15:25] Noitidart commented on #18
Hi @mcglewis thanks for this report. i fixed it and uploaded a new version (v1.3) to AMO:

It takes a couple days to get approved but you can download from here right away:

https://addons.mozilla.org/en-US/firefox/addon/mailtowebmails/versions/

[2015-01-26 15:25] #18 closed

[2015-01-26 15:26] Noitidart commented on #14
Hey @callmetaste can you please help me find the URL, did you get a chance to email the support team?

[2015-01-26 15:30] mcglewis commented on #18
And it's working! Thanks for the fast response -- great job!

Matt L.

[2015-01-26 15:32] Noitidart commented on #18
:) thanks to users like you who report :)

[2015-01-26 19:01] Tom-0169 opened #19 "Add Webservice Request: gmx.net"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for gmx.net

[2015-01-26 19:11] Noitidart commented on #19
Thanks Tom for your report @rolchar also requested GMX but we are having a hard time finding the wild card URL. Please read the topic heere: https://github.com/Noitidart/MailtoWebmails/issues/12

If you can help us get in touch with GMX support team to get a wildcard url that would be awesome!

[2015-01-26 19:11] #19 closed

[2015-01-26 19:16] Tom-0169 commented on #12
https://3c.gmx.net/mail/client/mail/mailto;jsessionid=B0E2955D1GRTE05956FC9CF37A708465-n4.bs13a?to=receiving_address%40gmx.net
the mobile version
https://mm.gmx.net/mail/new?to=receiving_address%40gmx.net

[2015-01-26 19:18] Noitidart commented on #12
Thank you @Tom-0169  !! Ill test those out!

[2015-01-26 19:28] Tom-0169 commented on #12
Just tried to reply in my email in gmx and copied them ;)
The first may be unstable because of the sessionid and the subdomain in front,
the second is only the mobile version you get when you use gmx on a mobile browser
Perhaps they help.

[2015-01-26 19:28] Noitidart commented on #12
@Tom-0169  I signed up for GMX, the website it took me to was gmx.com and these urls are nto working when i change the .net to .com

[2015-01-26 19:29] Noitidart commented on #12
Ah thanks for that @Tom-0169 , so if you change the to to some other address it properly opens the compose page with the to populated?

[2015-01-26 19:31] Tom-0169 commented on #12
No, only when you received an email with a MailTo-Link in it.

[2015-01-26 19:37] Tom-0169 commented on #12
@Noitidart GMX makes a difference when you login from another country.
GMx.net seems a collector for germany and some other countries, the rest is forwarded to .com

[2015-01-26 20:30] Tom-0169 commented on #12
https://3c.gmx.net/mail/client/mail/compose/html;jsessionid=D15B9AABE6G7BA5C0955DB1833F9D561-n1.bs42a?editorAction=NEW&to=receiving_address@gmx.de

[2015-01-26 21:50] Noitidart commented on #12
I went to my address book and clicked email and i got same like you:

[code]

but when i try to do it without the jsessionid it doesnt work :( and i cant find jessesionid in the cookies :( it exists but using the one from cookies makes it fail :(

[2015-01-27 19:43] Pointer111 commented on #16
I had asked them concurrently with my request to you, a more general request to have mailto urls in web sites directed to netzero compose like gmail and yahoo do. The response was that they don't have that ability and don't plan to develop it at this time. I did not ask, and they did not say specifically that there is no wildcard-able url. Do you know any programming conventions that might be wort

[2015-01-27 20:09] Tom-0169 commented on #12
Viva la encryption :-(
Went through the cookies of a new session, but did not find anything comparable to the jsessionid.
Seems it's a generated encrypted construct...

[2015-01-27 21:17] Noitidart commented on #12
Haha @ "Viva la encrypcion"

We'll figure this out no encypcion can stop us!

[2015-01-27 21:18] Noitidart commented on #16
Never a lost cause, we can figure out some hacky ways.

Please go to your address book, and then when you click on someones email notice how it opens it up in the compose page. Please try to get me that URL, if they have no encryption, hopefully, then we can use that :)

[2015-01-28 20:32] Pointer111 commented on #16
I had already tried that to no avail. It calls a java script so I can't copy a url there, and the url in the browser address doesn't change when the script is executed...  :(

---------- Original Message ----------
From: Noitidart <notifications@github.com>
To: Noitidart/MailtoWebmails <MailtoWebmails@noreply.github.com>
Cc: Pointer111 <dpiontek@netzero.net>
Subject: Re: [MailtoWebmails] Add Webse

[2015-01-28 21:18] Noitidart commented on #16
Oh dang ok try this install this addon: LiveHTTPHeaders https://addons.mozilla.org/en-US/firefox/addon/live-http-headers/

And then see what urls go through after you click that email link.

[2015-02-01 19:55] Noitidart commented on #17
Hey man I'm also having trouble finding this, can you please email support this message:

[2015-02-24 15:04] hughjonesd opened #20 "Add Webservice Request: Google inbox"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for Google Inbox (inbox.google.com)

[2015-02-24 15:05] Noitidart commented on #20
Thanks hughjonesd, can you please send me an invite so I can figure out the mailto handler. My email is noitidart@gmail.com

Thanks!

[2015-02-24 15:07] Noitidart commented on #20
Actually it seems I need to download it to my phone first, very weird.

Do you know the mailto url? If you can figure it out I can hook this up real fast.

[2015-02-24 15:12] hughjonesd commented on #20
Send me a gmail address and I'll get you an invite...!

On Tue Feb 24 2015 at 15:07:12 Noitidart <notifications@github.com> wrote:

[2015-02-24 15:13] Noitidart commented on #20
Thanks @hughjonesd but I don't have a compatible cell phone to download the app to, soI won't be able to activate it. :( So silly fo them to force you to do it on a phone >_<

[2015-03-11 04:37] Noitidart commented on #20
Hey there hugh were you able to get a link if you email their support this message the should get back to you with a link i can hook up:

[2015-03-11 04:37] Noitidart commented on #14
Hey @callmetaste did you get a chance to email them asking for a link I would love to hook this up.

[2015-05-03 22:08] lewismll opened #21 "Add Webservice Request: SmarterMail"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for SmarterMail (www.smartertools.com)

[2015-05-03 22:08] Noitidart commented on #21
Ill look into it :)

[2015-05-04 14:32] lewismll commented on #21
Thanks, if you need a demo account just let me know, we have our own copy of the e-mail service.

[2015-05-09 13:42] dehylton opened #22 "Add Webservice Request: ZIMBRA"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for ZIMBRA.

[2015-05-09 20:29] Noitidart commented on #22
Please install the addon from this branch it supports Zimbra:

https://github.com/Noitidart/MailtoWebmails/issues/15

To install directly from github install this addon https://addons.mozilla.org/en-US/firefox/addon/github-extension-installer/

Then install straight from the repo: https://github.com/Noitidart/MailtoWebmails/tree/%2315-Zimbra

[2015-05-09 20:29] Noitidart commented on #6
Hi @rolling112 this branch here supports zimbra: https://github.com/Noitidart/MailtoWebmails/tree/%2315-Zimbra

[2015-05-10 04:05] dehylton commented on #22
would it be possible to provide a way to enter our own service/url combinations? for example, in my case the zimbra server is my own company's so the generic zimbra setting won't work. it didn't occur to me this would be an issue, but it's fairly obvious now and getting around it will require coding on your part. a plugin that does this is available for chrome already (works on my chromebook) so t

[2015-05-10 04:16] Noitidart commented on #22
Yes absolutley that's a great idea and it's something I plan on for a future release I haven't go to work on this addon too much but I want to soon as lots of people are requesting lots of different ones.

[2015-05-10 04:17] Noitidart commented on #22
This is the issue tracker for the feature you mentioned, i hope to land in next version: https://github.com/Noitidart/MailtoWebmails/issues/11

[2015-05-14 05:40] pluttmer opened #23 "Add Webservice Request: hushmail.com"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for hushmail.com

[2015-05-14 08:14] Noitidart commented on #23
Hi pluttmer i'll look into this, by any chance do you know the wild card urls?

[2015-05-14 08:24] pluttmer commented on #23
Not sure what you mean but the url for the compose screen is
https://www.hushmail.com/preview/hushmail/#compose

On 5/14/2015 at 3:14 PM, "Noitidart"  wrote:

	Hi pluttmer i'll look into this, by any chance do you know the wild
card urls?

	—
Reply to this email directly or view it on GitHub.

[2015-05-25 10:45] atomho10 opened #24 "Add Webservice Request: http://mail.tiscali.it/?_task=mail&_id=4525581015562f7467e79b&_action=compose"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for http://mail.tiscali.it/?_task=mail&_id=4525581015562f7467e79b&_action=compose

[2015-05-25 10:46] Noitidart commented on #24
Hi @atomho10 I'm working on adding custom ones so you don't have to request from me. I'll have this done for you soon :)

[2015-06-25 02:29] AbbyBC opened #25 "MailtoWebmails 1.3.1-signed"
I got it to work for hotmail, but there was not an option for webmail for domains like godaddy or bluehost. Can you work that out for us. Where people can supply a url for for webmail like these?

[2015-06-25 03:09] Noitidart commented on #25
Please supply here and I'll add them into the social feature of next version.

I think i might release non-social version first though so you can just supply your own.

[2015-06-27 11:09] highwindmx commented on #8
I am interested and also need this one, tell me if any thing I can help.

[2015-06-27 11:13] highwindmx commented on #8
And also, I think if a recipe function is provided would be better,
like user can set an address which who will usually email to.

[2015-06-27 11:42] Noitidart commented on #8
Thanks @highwindmx I am working on next release this weekend so users can add services without requesting. But to resolve this issue we have to contact this company and ask them for a wild card compose url.

[2015-07-22 16:54] NickolasLapp commented on #20
Bump Bump. I would also like support for this feature.

[2015-07-22 22:37] hughjonesd commented on #20
I think nowadays inbox works on computers if you have a gmail account.

On Tue Feb 24 2015 at 15:13:50 Noitidart <notifications@github.com> wrote:

[2015-07-23 02:51] Noitidart commented on #20
Thanks @hughjonesd Ill take a look :)

[2015-07-23 03:47] Noitidart commented on #20
I cant seem to get into a google inbox. can anyone join me on irc and help me out?

https://chat.mibbit.com/?url=irc%3A%2F%2Fmoznet%2Fjsctypes my name is noida

[2015-07-27 05:31] MightyDrakeC opened #26 "Add Webservice Request: Roundcube on my personal website"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for Roundcube on my personal website.

I saw a note that mentioned that you were going to allow the user to type in a custom URL and parameters.  Any progress on that?

[2015-07-27 05:33] Noitidart commented on #26
Yes I made some progress I wrote the form but I got carried away with a cross platform native screenshot addon, im hoping to release that this week or next weekend then ill get on this. The screen shot thing is needed as the only other native screenshot addon is for windows only and is binary component based which will be deprecated soon.

Heres the screenshot addon if youre interested  https://gi

[2015-07-29 17:37] KingMob commented on #20
Seconded. Also, I sent you an invite, if that helps.

[2015-07-30 04:08] Noitidart commented on #20
Thank you @KingMob this will help a ton I couldnt get in. Ill try now.

[2015-07-30 04:11] Noitidart commented on #20
@KingMob I followed the invite, it said succesful. Now when I got to inbox.google.com its a blank page here is a screenshot:

![](http://i.imgur.com/okDtd6G.png)

Is anyone available to do a remote connect session?

[2015-07-30 15:57] KingMob commented on #20
Apparently, installing it on a smartphone is mandatory. I can't do a remote connect, but I might be ableto give you a dummy account for testing this weekend.

[2015-08-15 06:38] Noitidart commented on #20
Hey @KingMob  and all I got a device and tried installing but it's saying incompatible :(

![](http://i.imgur.com/n9PChz0.png)

Is anyone available and comfortable to allow me to remote connect to their computer? Or you can remote connect to mine, but i need to be in an account to sniff the headers.

Does google chrome have mailto handler for this? In which case I can just lift that url.

[2015-08-15 06:41] Noitidart commented on #20
Apparently google chrome does, can anyone who has google chrome, or is comfortable with  installing it, can follow these steps to get me the mailto handler: http://webapps.stackexchange.com/a/24299

[2015-08-15 06:43] Noitidart commented on #20
This is also another method to find the inbox handler on google chrome: https://productforums.google.com/d/msg/chrome/FngTaedzxWc/uCB_pvAxkNkJ

You will likely have to use the DOM Inspector of Google Chrome once getting to these pages to find the mailto protocol link. If you can't find it, if you're comfotable with me connecting to your computer via TeamViewer I can help you out.

[2015-08-16 10:38] mildred commented on #15
Well, I hacked the code of the preference page live so I could install the handler even though it wasn't supported.

zimbra.free.fr is the mail interface for a popular ISP in France, but as it is ISP specific and limited to France, it shouldn't be featured on the front page I think.

[2015-08-16 17:33] Noitidart commented on #15
Forgive this Mildred. If you see my commits I'm working on some urgent update to NativeShot. NPAP is being disabled in Firefox so thousands of users (60k) will have to abandon the LightShot addon and they need an alternative. I think I have just a couple more days of work on NativeShot then I'm right back on this. Please forgive this delay I know I keep promising but I'm serious now.

[2015-08-16 17:35] Noitidart commented on #15
btw do you have some firefox addon skills and would you like to help me out to land the social/custom handler feature?

[2015-08-17 11:09] ruihildt opened #27 "Add Webservice Request: Roundcube"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for Roundcube and could be configurable according to the server used.

Possible ?

[2015-08-17 11:10] #27 closed

[2015-08-17 12:09] Noitidart commented on #27
thanks for this, im working on a feature to land it real soon i hope within the next couple weeks :)

[2015-08-17 20:28] KingMob commented on #20
@Noitidart I checked the Chrome handlers section, and there's no entry for Inbox yet, just mail.google.com. Quick scan of the DOM for "mailto" didn't reveal anything helpful. Thx for looking at this, I'm sorry, I don't have more time to help.

[2015-08-17 21:27] Noitidart commented on #20
Thanks @KingMob I think it wont show in Chrome till you go to Inbox and then you'll get a popup bar, then you have to click "addas mail handler" then it should show there :)

[2015-08-17 21:33] KingMob commented on #20
I don't see any pop-ups to add as mail handler. It's possible Google hasn't
offered that yet, since Inbox is still beta. (Real beta, not Gmail "beta".)

On Mon, Aug 17, 2015 at 5:27 PM Noitidart <notifications@github.com> wrote:

[2015-08-17 21:36] Noitidart commented on #20
Thanks so much for the fast reply, goodness this is weird. Can you please try going to settings of Inbox and look for something "make inbox my default", I think it should be there. I thought I read something about that on the net.

Worst case, is it possible you can make me a dummy account and send those details my way? I want to hook you guys up pret

[2015-08-17 21:38] Noitidart commented on #20
@KingMob you may need to enable it in google like this: https://support.google.com/chrome/answer/1382847?hl=en

[2015-08-17 21:49] Noitidart commented on #20
Oh we can also probably email their support team for help with this, is there a support button?

[2015-08-17 21:58] Noitidart commented on #20
Oh interesting find: https://productforums.google.com/forum/#!topic/inbox/SMykZMC4bSI

It looks like we'll have to email support to get their help, does the inbox.google have a link for "support"?

[2015-08-18 15:11] KingMob commented on #20
@noitidart, the link you sent is for the same thing in Chrome. There's no
listing yet for Inbox in the handlers. Also, Google is notorious for not
offering live support. Unless, you're a large customer, there's no way of
getting on the phone with them.

I'd set up the account for you, but they require phone activation and I
don't have a second phone... I think it's a bit short-sighted of G, but
wh

[2015-08-18 21:15] Noitidart commented on #20
Drats, thanks @KingMob for that extra invite. Ill try to get someones cell phone to use for it.

I finished 80% the backend for the new MailtoWebmails share engine feature last night. So people can update as they please instantly (well it has to get admin approval), but for those that add the engine it is available to them personally pre-admin approve. After admin approve is visible to the rest of

[2015-08-19 17:45] KingMob commented on #20
Sorry I can't help more. Thanks for a great project, btw.

m

On Tue, Aug 18, 2015 at 5:15 PM Noitidart <notifications@github.com> wrote:

[2015-08-19 20:20] Noitidart commented on #20
No problem thanks @KingMob I already started work on v2 :) Thanks for the motivation!

[2015-08-21 11:39] Noitidart commented on #16
Hey there pointer im coming out with v2 release within this week or next week. Did support from netzero contact you yet? In version 2 you can submit handlers and share with the whole community straight from the addon :)

[2015-08-21 11:39] Noitidart commented on #26
Hey there @MightyDrakeC  im coming out with v2 release within this week or next week. Did you get the url template for compose yet? In version 2 you can submit handlers and share with the whole community straight from the addon :)

[2015-08-21 11:40] Noitidart commented on #23
Hey there @pluttmer  im coming out with v2 release within this week or next week. Can you contact support of hushmail and request for their compose url. You can submit it in the next version of the addon and shre with community, its socially connected.

[2015-08-21 11:41] Noitidart commented on #22
Hey @dehylton  v2 is coming out this week or next week, please prepare your urls you can submit and share with the community in this version :)

[2015-08-21 11:42] Noitidart commented on #15
You hacking got me in gear :)

Version 2 is connected to server, just working on writing the submit and edit parts in the addon and v2 should release within the next couple days, latest next week. Check out the master branch for progress its real awesome :)

You can submit the url straight from the addon in v2 and share with the world :)

[2015-08-21 11:43] Noitidart commented on #10
Hey @aalbaugh  Im releasing v2 of the addon within a week or so, you can submit services straight from the addon. Did you get in touch with verizon support, were they able to hook you up with a compose url template?

[2015-08-21 11:44] Noitidart commented on #9
Next version is coming out within a week :) Forgive the delay. You'll be able to add it now :)

[2015-08-21 15:59] Pointer111 commented on #16
Thanks for asking, but I pretty much gave up with
the last response from netzero many months ago -
that they don't support those links and had no
plans to develop. I don't know enough about how
it works to follow up more or ask the right
questions. I wish I did, because it would sure be helpful.  Dave

At 04:39 8/21/2015, you wrote:

[2015-08-21 16:53] Noitidart commented on #16
Darn man, Ill hvae to take a look sometime then :)

[2015-08-21 17:29] MightyDrakeC commented on #26
My situation is I'm using Roundcube on my own personal website. So,
while I'm happy to provide a template for other Roundcube users, I don't
particularly want to share the specific URL to my webmail server. Could
you please put some thought into that situation.

Just off the top of
my head, a separate "Publish this" field that defaults to the actual
URL, but that can be edited to be anonymized. Pr

[2015-08-21 17:59] Noitidart commented on #26
Excellent point! All my things are opt in to share, so you have to opt in. And also if you do share it has to go through admin approval, so it won't be visible to the world unless its 1) opted in to share but submitter 2) approved by admin

Date: Fri, 21 Aug 2015 10:29:08 -0700
From: notifications@github.com
To: MailtoWebmails@noreply.github.com
CC: noitidart@gmail.com
Subject: Re: [MailtoWebmails

[2015-08-25 03:14] Noitidart commented on #26
@MightyDrakeC hooked up manual, check it out install it from master branch with https://addons.mozilla.org/en-US/firefox/addon/github-extension-installer/ :)

[2015-08-25 04:59] MightyDrakeC commented on #26
It works! Outstanding.

I also tested it with a test subject and
body text within the mailto tag.

You said that you're moderating the
links coming in. FYI, mine is for Roundcube.

Thanks for this
extension. It's going to come in handy.

I realize this is beta. Is the
Edit button supposed to be working in this release? It's not on mine.
The cursor changes as for a link, but nothing in the status a

[2015-08-25 05:03] Noitidart commented on #26
Thanks for the test! I didn't add the checkbox for "share" so by default it doesnt send the server any data. Only if user check "share" then it will send to the server, then ill review it and if its safe ill approve and then it will show for everyone else. :)

Thanks for that test on subject and body I actually don't know how to do that :P

[2015-08-25 05:04] Noitidart commented on #26
Oh yeah edit button doesn't work right now :(

[2015-08-25 05:20] MightyDrakeC commented on #26
Here's my Roundcube string:
http://YOUR_ROUNDCUBE_URL/?_task=mail&_action=compose&_to=%s

Hmm. I'm
surprised those test links worked. I guess Roundcube knows how to parse
the entire string from a mailto link. Other mail systems may not be as
smart. You might have to split those fields out yourself, and build a
replacement syntax. Something like:

 	* %t = To
 	* %c = CC
 	* %b =
BCC
 	* %s = Subje

[2015-08-25 05:22] Noitidart commented on #26
Ah thanks very much I'll add in a dummy one on the server right now so pepole can pick it from discover and edit then save as new :)

[2015-08-25 05:34] Noitidart commented on #26
Added roundcube template it on the server. Please go to discover page to check it out. :) no need for update of addon :D

[2015-08-25 06:11] MightyDrakeC commented on #26
I found it. Looks like it'll work fairly well, once you hook up the
Edit button.

I'm not sure "Discover" is the most intuitive way to lead
people to check for user-contributed services. You label the main ones
as "Popular Services." Maybe just "More Services" for the rest?

I did
see the text at the bottom that led to the same place. But, that text is
small, and low-contrast. It might be overlook

[2015-08-25 14:32] Noitidart commented on #13
@taylorjameswalker  i think i found it.

Please try this:

https://web.mail.comcast.net/zimbra/?app=mail&view=compose&to=rawr@gmail.com

does it open your comcast webmail compose page?

[2015-08-25 21:42] Noitidart commented on #13
Also @taylorjameswalker  try this one too:

https://web.mail.comcast.net/zimbra/h/search?action=compose&to=xxx@yyy.zzz

[2015-08-25 22:01] #1 closed

[2015-08-26 05:12] Noitidart commented on #26
Those are all great ideas thanks man! :)

[2015-08-26 14:42] Noitidart commented on #26
Thanks for those bug reports, please try version now they should all be fixed :)

[2015-08-26 15:21] Noitidart commented on #25
Hi @AbbyBC  Im close for the next release and am eager to add godaddy and bluehost etc for you. Can you supply them here or install v2 of my addon and submit them yourself :)

[2015-08-26 15:22] Noitidart commented on #21
Hey @lewismll do you know the compose url? I couldnt figure it out.

[2015-08-26 16:51] AbbyBC commented on #25
Hello Noitidart
I did not get your previous message. I went the link you provided, and I recall typing that comment.

What is it you are asking of me. What am I to supply? I could not find version 2 to install.
CheersAbby

      From: Noitidart <notifications@github.com>
 To: Noitidart/MailtoWebmails <MailtoWebmails@noreply.github.com>
Cc: AbbyBC <mrsabidel@yahoo.ca>
 Sent: Wednesday, August 26, 2

[2015-08-26 16:53] AbbyBC commented on #25
I did not get your previous message. I went the link you provided, and I recall typing that comment.
What is it you are asking of me. What am I to supply? I could not find version 2 to install.

[2015-08-26 16:54] Noitidart commented on #25
Hi @AbbyBC  I think you wanted the godady and bluehost webmail services added, and possible had the urL? if you have it can you share it here please

[2015-08-26 16:56] Noitidart commented on #25
I havent release version 2 yet, but if you are eager to try the beta here are some instructions: https://github.com/Noitidart/MailtoWebmails/issues/26#issuecomment-134461984

[2015-08-26 16:56] AbbyBC commented on #25
Hello! Yes, I would like to have them added to the list. Do I have what, to share what?

[2015-08-26 17:00] AbbyBC commented on #25
Sorry, but you lost me somewhere. I do not even know why we are using github for mailtowebmails app. I really know nothing about github, of which I am now researching.

[2015-08-26 17:02] Noitidart commented on #25
Oh no problem, just hang in there, I'll release version 2 this week then you can submit wildcard url for godady if you have it from the addon. Github is for sourcecode and beta stuff, it'll be a little confusing if you try to get into it and aren't a coder. I host my sourcecode here.

[2015-08-26 17:03] AbbyBC commented on #25
Ok, thanks for that explanation. The closet I get to coding is websites.

[2015-08-26 17:26] lewismll commented on #21
New EMAIL:
https://mail.DOMAIN.com/Main/frmCompose.aspx?popup=true

Reply to EMAIL:
https://mail.DOMAIN.com/Main/frmCompose.aspx?action=reply&folder=Inbox&uid=1022&user=USERID&mapped=False&fromPreview=true&rowNumber=0&popup=true

Forward EMAIL:
https://mail.DOMAIN.com/Main/frmCompose.aspx?action=forward&folder=Inbox&uid=1022&user=USERID&mapped=False&fromPreview=true&rowNumber=0&popup=true

[2015-08-26 21:49] MightyDrakeC commented on #26
How does this work with the GitHub addon. Do I have to uninstall
and then reinstall from GitHub?

I got a popup saying that there was a
new version. But, when I go into the MailtoWebmails addon, it's showing
v 1.3.1, and I no longer see the "Discover" button, nor my manual
service addition. But, when I tested a mailto link, it still worked, and
opened my webmail.

Drake

On Wed, 26 Aug 2015 07:42:

[2015-08-27 00:31] Noitidart commented on #26
Oh thanks for that note @MightyDrakeC I had left the old vresion number in there so it would update to the one from AMO (addons mozilla.org) I updated it to 2.0-nightly now so it wont do that :)

[2015-08-27 00:50] MightyDrakeC commented on #26
I went to the addons page and refreshed a few times. Still kept
showing v1.3.1. So, I went to GitHub and clicked the Add To Firefox
button. That appears to have installed v2.0.

Looks like it's coming
along. It's easy enough for me to figure out what to do. You may need to
type up some pretty detailed instructions for users who aren't
programmers.

One oddity that you might not have any control ov

[2015-08-31 09:52] Noitidart commented on #15
Alright @mildred check it out:

1. Install addon GitHub Extension Installer: https://addons.mozilla.org/en-US/firefox/addon/github-extension-installer/
* Go to latest version of Profilist on GitHub repository: https://github.com/Noitidart/MailtoWebmails
* Click on "Add to Firefox", this install this version to your Firefox
* Then open up the prefs page, or go to about:mailto
* Then submit zimbra :

[2015-08-31 09:54] Noitidart commented on #21
Please beta test submission of the url :)

1. Install addon GitHub Extension Installer: https://addons.mozilla.org/en-US/firefox/addon/github-extension-installer/
* Go to latest version of MailtoWebmails on GitHub repository: https://github.com/Noitidart/MailtoWebmails
* Click on "Add to Firefox", this install this version to your Firefox
* Then open up the prefs page, or go to about:mailto
* Then

[2015-08-31 09:56] Noitidart commented on #5
Hey @Carmelo-Rizzo  the URL should look like this `https://mail.google.com/mail/?extsrc=mailto&url=%s` where the `%s` is where the clicked on email gets filled in. Were you able to get any info back from support?

[2015-08-31 10:04] Noitidart commented on #24
Hey @atomho10 can you get the correct url please, this one will not work. The URL should look like: `https://mail.google.com/mail/?extsrc=mailto&url=****************`, the `******` is where the clicked on email address gets populated. So like when you click on a mail link of `mailto:blah@hotmail.com` it will navigate to `https://mail.google.com/mail/?extsrc=mailto&url=mailto:blah@hotmail.com`. :)

[2015-08-31 10:05] Noitidart commented on #14
Hey @callmetaste  can you get the correct url please, this one will not work. The URL should look like: `https://mail.google.com/mail/?extsrc=mailto&url=****************`, the `******` is where the clicked on email address gets populated. So like when you click on a mail link of `mailto:blah@hotmail.com` it will navigate to `https://mail.google.com/mail/?extsrc=mailto&url=mailto:blah@hotmail.com`.

[2015-08-31 10:05] Noitidart commented on #9
Feature has landed, in latest version on repository. Addon will land soon. :)

[2015-08-31 11:18] Noitidart commented on #26
Wow that is very very odd, I think that's a bug I we should file on bugzilla, thanks for your awesome detecitve work! :)

[2015-08-31 17:42] StephenPHL opened #28 "Add Webservice Request: TYPE_NAME_OF_WEBMAIL_SERVICE_HERE"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for STARTMAIL

[2015-08-31 17:50] Noitidart commented on #28
Hey @StephenPHL   can you get the correct url please. The URL should look like: `https://mail.google.com/mail/?extsrc=mailto&url=****************`, the `******` is where the clicked on email address gets populated. So like when you click on a mail link of `mailto:blah@hotmail.com` it will navigate to `https://mail.google.com/mail/?extsrc=mailto&url=mailto:blah@hotmail.com`. :)

[2015-09-02 01:12] Noitidart commented on #26
Hey @MightyDrakeC aside from those textual changes you recommended, all functionality as landed. Except for the checkbox on share. I'll just filter that out on server as I notice they're not useful to public.

May you please test the latest commit when you get a chance :)

[2015-09-02 04:47] Noitidart commented on #11
Feature has complete landed in v2.0

[2015-09-02 04:47] #11 closed

[2015-09-02 05:13] MightyDrakeC commented on #26
I just took a quick glance at it. Looks pretty good.

You might
want to add in some help text, or tip text around the icon load button,
to tell the user what size icon you're expecting. Either that, or scale
it to the proper size before saving it off.

You also might want to
create a well-edited help page on your site, and include a link from
your Options page. Something that shows some as-copied

[2015-09-02 05:21] Noitidart commented on #26
Thanks for that excellent advice! I'm so busy with coding but i totally know what you mean. I'm hoping as I release some fan will have the time to do that kind of stuff (documentation). I totally agree with you on all those points.

That tooltip on size of image is a good idea too. I think I should tell them submit 80x80 or whatever you submit will be resized down.

Thanks for that report on that

[2015-09-02 05:26] MightyDrakeC commented on #26
[{"name":"AIM
Mail","url_template":"http://webmail.aol.com/Mail/ComposeMessage.aspx?to=%s","old_url_templates":[],"description":"This
handles both AOL Mail and AIM
Mail","icon_dataurl":"chrome://mailtowebmails/content/resources/images/logo-aolmail.png","color":"rgb(255,
204,
0)","group":0,"update_time":"2","submit":1},{"name":"GMail","url_template":"https://mail.google.com/mail/?extsrc=mailto&url=

[2015-09-02 05:27] Noitidart commented on #26
Thanks so much! You're real fast! :)

[2015-09-02 05:27] Noitidart commented on #26
Oh it got cut off, may you please email that to me at noitidart@gmail.com

[2015-09-02 05:40] Noitidart commented on #26
Just comitted the automatic scale down of image with a more informative message on how to avoid quality loss :) Thanks for that excellent idea!

[2015-09-02 09:01] Noitidart commented on #26
Ah Mighty I figured out something. The beta version I gave you last time, the logic was different, can you please uninstall mailtowebmails, then close the addon manager tab, (this will complete uninstall process and delete that json file). Then please reinstall it back. Otherwse you're spamming my server hahahaha

[2015-09-02 09:23] MightyDrakeC commented on #26
Uninstalled the add-on. Needed restart Firefox, anyway. Reinstalled
from GitHub.

On Wed, 02 Sep 2015 02:01:16 -0700, Noitidart wrote:

Ah Mighty I figured out something. The beta version I gave you last
time, the logic was different, can you please uninstall mailtowebmails,
then close the addon manager tab, (this will complete uninstall process
and delete that json file). Then please reinstall it

[2015-09-02 09:24] Noitidart commented on #26
Can you reinstall agian please I fixed 2 bugs thanks to your help! :) I just made a commit literally like 10 seconds ago. haha another suuuuper great thing about you is that you are soooo responsive! :)

[2015-09-02 19:51] lewismll commented on #21
This is what I get when clicking on a mailto:
https://mail.DOMAIN.com/Main/frmCompose.aspx?to=training@somewhere.com&popup=true

[2015-09-02 21:26] Noitidart commented on #21
Ah ok i think thats it then. If you install v2 from github you can plug it in and test it out right away. :)

[2015-09-02 21:29] Noitidart commented on #21
the url you would put into the url field would be this:
`https://mail.DOMAIN.com/Main/frmCompose.aspx?to=%s&popup=true`

[2015-09-03 20:49] Noitidart opened #29 "Beta testers for v2"
If possible, can I get help beta testing this v2.

1. Install addon GitHub Extension Installer: https://addons.mozilla.org/en-US/firefox/addon/github-extension-installer/
* Go to latest version of Profilist on GitHub repository: https://github.com/Noitidart/MailtoWebmails
* Click on "Add to Firefox", this install this version to your Firefox
* Then open up the prefs page, or go to about:mailto

Th

[2015-09-04 02:31] Noitidart commented on #13
This is an old link, i dont think it works, the one in previous comment is correct one. http://web.mail.comcast.net/zimbra/mail?view=compose&to=%s

[2015-09-04 04:19] Noitidart commented on #26
I just uploaded v2.0 to AMO. I created a youtube screencast and added it to the about section. What do you think? :)

https://addons.mozilla.org/en-US/firefox/addon/mailtowebmails/

[2015-09-04 05:59] Noitidart commented on #29
v2 released beta cancelled. thx

[2015-09-04 05:59] #29 closed

[2015-09-04 06:02] MightyDrakeC commented on #26
That video is great for people like me, who are comfortable with
the about: page. But, I think jumping back and forth is going to be
completely disorienting to nontechnical people. They have no idea where
that is, nor that it is demonstrating that the handler is slipping so
seamlessly into Firefox. To them, it'll be gibberish.

I think I would
recommend that you dumb it down a even more. The scrip

[2015-09-04 06:20] Noitidart commented on #26
Wow Drake thank you so much for such incredible feedback!

I think you're right we have to redesign it so that users can just simply click a button and bam they got it.

You got me thinking hard haha. I really think you're right, I think newbies will not understand the difference between active and installing.

The reason I used the word "install" is because whatever is installed from there, remai

[2015-09-04 06:31] MightyDrakeC commented on #26
Ah, yes. Now "Install" makes more sense to me.

I do like how this
addon fits so seamlessly into Firefox. It really makes it a "Feature
that should have been there" kind of thing. Good job.

Drake

On Thu,
03 Sep 2015 23:20:27 -0700, Noitidart wrote:

much for such incredible feedback!

redesign it so that users can just simply click a button and bam they
got it.

right, I think newbies will not u

[2015-09-04 06:35] Noitidart commented on #26
Thanks Drake!

I added a new image per your feedback I really apreciate it! What do you think of the first image: https://addons.mozilla.org/en-US/firefox/addon/mailtowebmails/

I'll retitle the current video to "Knowledge on the inner workings of the addon" or something like that.

And I'll make a new video that shows just how to install it titled "Ready set go" or something hahaha

[2015-09-04 06:44] MightyDrakeC commented on #26
Yeah, that first image is pretty good. "Ready, Set, Go" is a good
way to think of it.

FYI, the text on the 2nd image spilled off the
bottom of the little popup, and I couldn't read the fourth line. I'm not
even sure if that was the last line. Looks like you can't fit the
instructions into that little space.

Drake

On Thu, 03 Sep 2015
23:35:13 -0700, Noitidart wrote:

image per your feedback I re

[2015-09-04 07:04] Noitidart commented on #26
Wow I didn't notice that it spilled thanks man you are awesome! I updated them all with up to date screenshots and shortened the descriptions. :)

[2015-09-06 23:56] Noitidart commented on #20
Until they land this feature you guys might like this addon: https://addons.mozilla.org/en-US/firefox/addon/inbox-notifier/

I think it lets you pop the compose new mail page straight from that toolbarbutton.

[2015-09-14 01:23] iansan5653 opened #30 "Add Webservice Request: Inbox by Gmail."
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for Inbox by Gmail.

[2015-09-14 01:33] Noitidart commented on #30
Thanks @iansan5653  for the request. We actually have an ongoing topic here: https://github.com/Noitidart/MailtoWebmails/issues/20

It seems google has not provided such a link for "Inbox" service yet. But as soon as they do I'll add it in and it will be availble publically instantly in version 2. Version 2 of mailtowebmails is pending review right now.

[2015-09-14 01:35] Noitidart commented on #30
Also until google does add a mailto link. you might find this addon useful: https://addons.mozilla.org/en-US/firefox/addon/inbox-notifier/

[2015-10-01 02:20] ViKomprenas opened #31 "Add Webservice Request: Inbox by Gmail"
I was trying to install a webmail service from the options panel of MailtoWebmail but the one I was looking for was not found. I was looking for [Inbox by Gmail](https://www.google.com/inbox/).
Also, is it possible in the future to add a generic one that simply opens whatever page you set up?

[2015-10-01 02:21] ViKomprenas opened #32 "Typo in default issue"
The default issue MailtoWebmails allows you to open calls the extension MailtoWebservices, and also misspells such in the issue body.

[2015-10-01 02:22] ViKomprenas commented on #31
Whoops, just saw there's others requesting this.

[2015-10-01 02:22] #31 closed

[2015-10-01 02:22] Noitidart commented on #31
Thanks man :)

[2015-10-01 02:23] Noitidart commented on #31
Also for the generic one, yep, in version 2 its available, I released it, you can install it from the versions page, it hasnt got full review yet:

https://addons.mozilla.org/en-US/firefox/addon/mailtowebmails/versions/

[2015-10-01 02:25] Noitidart commented on #32
I don't understand can you please rephrase :)

I really appreciate you for getting onto github to get in touch with me :)

[2015-10-01 14:10] ViKomprenas commented on #32
Doesn't occur in 2.0.

[2015-10-01 14:10] #32 closed

[2015-10-01 23:02] Noitidart commented on #32
Thanks again very much for your feedback and help! :)

[2015-10-04 15:22] Noitidart commented on #21
Hi htere @lewismll version 2 addon review is taking some time, can you hook me up with a demo account so i can test this out.

[2015-10-04 22:11] lewismll commented on #21
Here you go:

smtp:mail.segotest.com
web: https://mail.segosystems.com
U: tester@segotest.com
P" T3st3r20!

Active until October 5 @ 13:00

[2015-10-04 22:22] Noitidart commented on #21
Ahh so this is a thing like RoundCube!! Everyone has their custom domain. Ok let me set up a template just like roundcube :)

[2015-10-04 22:32] lewismll commented on #21
Also, V2 seems to not be compatible with PaleMoon browser http://www.palemoon.org/ (FFOX alternate), so I can't assist with the test, the only other browser I have is IE.

[2015-10-04 22:41] Noitidart commented on #21
Oh yikes supporting palemoon seems like a doozy, they seem to have stopped updating their codebase since Firefox 24 and I use the new technologies :( From a quick look

I found a bug which im working on right now so didnt dive too deep into it. Will do later.

[2015-10-04 22:44] lewismll commented on #21
Yes, they wanted to continue the old FFOX line of code when FFOX decided to change and use the chrome engine.

No problem; all our users access webmail using Chrome, I'm just the odd-duck!

[2015-10-04 22:45] Noitidart commented on #21
Ooo yuck they should use Firefox :(

[2015-10-04 22:45] lewismll commented on #21
I was just about to say "& Firefox" :)

[2015-10-04 22:47] Noitidart commented on #21
Hahaha. I edited in to make sure you know you're the smart duck not the odd duck to not use Chrome :P
They give you a product for "free". They are really making tons of cash off of you and when you have feedback Google won't listen. So that free is actually super strings attached and they aren't up front about it. Things are allways opt-out, by default the force it on you and you dont know you're

[2015-10-04 22:49] Noitidart commented on #21
Too late == junk mail in your physical mail box at home as one of the first side effects

[2015-10-04 22:49] lewismll commented on #21
Agree 100%, I don't like how they do business. So if we need to switch the remaining users over to FFOX for this to work - I have noooo problems! lol

[2015-10-04 22:50] Noitidart commented on #21
Haha ill definitely look into Palemoon support after fixing some bugs too, as it shouldn't be too hard, I know Firefox forced some stuff on users like Australis so I undrstand.

Whats your reason for Palemoon btw?

[2015-10-04 22:58] lewismll commented on #21
It was mainly because FFOX was changing things so often that many of my add-on's broke and I had to wait until the update was made or Mozilla fixed the bug. So I went with something with less updates but compatible with most of the add-on's at FFOX. Have not run into too many problems with add-on's.

Sometimes the newest shinny object is not always the best :)

[2015-10-04 23:08] Noitidart commented on #21
Ah haha

[2015-10-05 01:36] Noitidart commented on #21
Ok finally I fixed a bug i had server side where users could not submit names with name or descriptions including a double quote.

So if you install v2.0 on firefox you'll see "SmarterMail Template" for right now i set it up to use your domain and its not right:

So clicking on a mailto link pops open this url:

    https://mail.segosystems.com/Main/frmCompose.aspx?to=mailto%3Anoitidart%40gmail.co

[2015-10-05 01:39] Noitidart commented on #21
Oh waiiiit I wasnt logged in. So thats a bug on their smartermail side, they should show a "you are not logged in" message if it loads that page while user is not logged in.

So this is what I see:

![](http://i.imgur.com/0bLWOGu.png)

So we still see the issue where it is prefixed with `mailto:` so we have to find a smartermail url that removes that prefix. Need your help there please, we may hav

[2015-10-05 01:45] Noitidart commented on #21
Also the SmarterMail Template will be added as public and wont have seago as its domain it will be YOUR_DOMAIN_HERE as its a template. Do you want me to add a Seago one as well? Publically visible?

[2015-10-05 02:47] Noitidart commented on #21
Btw what i did (other then the bug fixing) is nothing only i can do. Its a public interface, you just need to install v2.0 and you can add and edit whatever you want :)

So what I did was using the v2 interface i created a template, and then i created one for sego:

I approved both for public visibility. Template for sure we want public. And the sego one we want public too right? Or do you want me

[2015-10-05 04:04] #30 closed

[2015-10-05 16:06] Noitidart commented on #21
Your update came in and changed the sego icon from the white to this:

![](http://i.imgur.com/NNt5bRG.png)

are you sure you want that? it doesnt match the rest of the logos in the mailtowebmails. its just the white part we want. but up to you.

[2015-10-05 16:14] Noitidart commented on #15
@mildred i added this via the public interface, you can do same, you can supply edits. Check it out and let me know if all is good, so we can close this issue. :)

[2015-10-05 16:15] Noitidart commented on #13
Hi @taylorjameswalker  I added this and its available in v2 please check it out and verify if its ok so we can close this issue. :)

[2015-10-05 17:18] lewismll commented on #21
You're right, I think the other way was better - thanks for checking & asking.

[2015-10-05 19:08] Noitidart commented on #21
Thanks I appreicate you trying to match the mailtwoebmails style :)

[2015-10-05 23:37] sgo441 commented on #21
Here is the correct URL which removes the mailto function for SmarterMail. Hopefully this is what you are needing.

http://mail.segosystems.com/Main/frmCompose.aspx?to=aaron.galindo@teamsewell.com&popup=true

[2015-10-05 23:50] Noitidart commented on #21
Thanks @sgo441 that's the same url we are using. However the `aaron.galindo@teamsewell.com` is repalced with a `%s` in our template.

Now when a user clicks on a mailto link that `%s` gets replaced with `mailto:aaron.galindo@teamsewell.com` that's just how the protocol was standardized all browsers and apps do that. The mailto: is to be stripped out server side, as does hotmail, ymail, gmail, etc.

[2015-10-05 23:59] sgo441 commented on #21
I see what you mean. It's interesting because even when you click on an email address inside of SmarterMail, it still applies the mailto. It's only when you hoover over an email address then select Email that SmarterMail automatically removes the mailto feature. Hopefully they can implement this for other URLs.

![2015-10-05_18-56-31](https://cloud.githubusercontent.com/assets/12103008/10296902/ca

[2015-10-06 00:01] Noitidart commented on #21
I emailed smartermail support earlier with the same message. They responded but asked me to open a ticket which I can't do because I'm not a customer. I emailed them back again explaining, I haven't heard back yet.

May I forward this email to you? I'll be forwarding from noitidart@gmail.com

[2015-10-06 00:48] Noitidart commented on #23
Hey @pluttmer  this post might help you understand what to ask from support: https://github.com/Noitidart/MailtoWebmails/issues/21#issuecomment-145700367

[2015-10-07 18:27] lewismll commented on #21
Just a quick update: We spoke with the SmarterTools team and they are going to fix it!

***"The developers have added this onto their feature request list and we will be working to implement this further. This will likely fall into our next minor release which is scheduled for about 3-4 weeks out."***

I will let you know when it comes through so we can further test.

[2015-10-07 19:55] Noitidart commented on #21
Superb! Thanks team!

[2015-10-08 06:14] rmoecklicsm opened #33 "Add Webservice Request: Kerio Connect"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for Kerio Connect

[2015-10-08 13:41] Noitidart commented on #33
Hi @rmoecklicsm this can be easily added with the interface with v2.0

Do you know the wild card template url for the webmail service? If not can you please email the support team for that webmail this email:

I was looking for the "Wildcard Compose URL" for your webmail service. For example Hotmail wildcard url is: "https://mail.live.com/secure/start?action=compose&to=%s", where the "%s" is where

[2015-10-08 13:41] Noitidart commented on #33
Whoops accidentally closed, reopened. :)

[2015-10-08 13:51] rmoecklicsm commented on #33
:-) Ok well maybe the issue is, that I can't edit the preferences, the button shows no reaction, Firefox 41.0.1 on osx 10.10.5, in Safari I got it to work with another addon, with this URL https://myserver.domain/webmail/index2.html#mail/compose/compose:{to}

[2015-10-08 13:51] Noitidart commented on #33
Ah thanks for that, can you try version 2, if thats a problem than i have to fix it.

[2015-10-08 14:00] rmoecklicsm commented on #33
how do I get version 2? sorry can't find your addon somewhere else... the link in the addon settings brings me here: https://addons.mozilla.org/en-US/firefox/addon/mailtowebmails/

[2015-10-08 14:01] Noitidart commented on #33
Oh it hasnt been approved yet for public so you have to get it from the versions page on AMO:

https://addons.mozilla.org/en-US/firefox/addon/mailtowebmails/versions/

[2015-10-08 14:01] Noitidart commented on #33
Is kerio connect like a service? and people can register for their domains? so should we create a template? Like we did with SmarterMail and Roundcube?

[2015-10-08 14:02] Noitidart commented on #33
Oh never mind based on your url it looks totally private huh?

[2015-10-08 14:06] rmoecklicsm commented on #33
Absolut! and also I do not like stuff which is not approved.. :-) i tried it anyway but it asks me if I want to send a mail and than pushes me anyway to the native one, and also I need the %s which is usually not needed.. I will try later again. Kerio connect is a mailserver as an Exchange alternative

thx anyway

[2015-10-08 14:08] Noitidart commented on #33
You have to click "Set as Active"

Hover over the "Inactive"  button after you have added it. You have to also replace the `{to}` with `%s` so in all cases, either you need `{to}` or `%s`, I can change it in future to use `{to}` instead of `%s` if its easier for users to understand.

[2015-10-08 14:08] Noitidart commented on #33
This image explains how to click "set as active":

![](https://addons.cdn.mozilla.net/user-media/previews/full/164/164320.png?modified=1441350306)

[2015-10-13 00:00] exsolve opened #34 "Add Webservice Request: Office (exchange) 365"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for Office (exchange) 365

[2015-10-13 00:01] Noitidart commented on #34
Do you know the compose url template? I can add it in a second.

[2015-10-13 00:05] exsolve commented on #34
I'm sorry, I don't...

________________________________
From: Noitidart <notifications@github.com>
Sent: Monday, October 12, 2015 7:01 PM
To: Noitidart/MailtoWebmails
Cc: exsolve
Subject: Re: [MailtoWebmails] Add Webservice Request: Office (exchange) 365 (#34)

Do you know the compose url template? I can add it in a second.

-
Reply to this email directly or view it on GitHub<https://github.com/No

[2015-10-13 00:06] Noitidart commented on #34
Can you help to get it please so I can add it. Please email the support team with this email:

    I was looking for the "Wildcard Compose URL" for your webmail service. For example Hotmail wildcard url is: "https://mail.live.com/secure/start?action=compose&to=%s", where the "%s" is where the clicked on email address gets populated. For instance when I click on a mail link of "mailto:blah@hotmail.

[2015-10-13 00:11] exsolve commented on #34
I'm not sure of a wildcard url available from this service, but the url for the owa is https://outlook.office.com/owa/

By the way, thanks for the quick response; I'm just not sure I can help you get there!
Date: Mon, 12 Oct 2015 17:06:20 -0700
From: notifications@github.com
To: MailtoWebmails@noreply.github.com
CC: exsolve@outlook.com
Subject: Re: [MailtoWebmails] Add Webservice Request: Office (

[2015-10-13 00:13] Noitidart commented on #34
Whats your domain?

I think it will work if we do this:

    https://email.YOUR_DOMAIN_HERE.com/owa/service.svc?action=CreateItem&%s

[2015-10-13 00:16] exsolve commented on #34
I'm not sure of how to test this, but I entered my domain and placed it all in my browser bar.  It came back with server not found...
Date: Mon, 12 Oct 2015 17:13:04 -0700
From: notifications@github.com
To: MailtoWebmails@noreply.github.com
CC: exsolve@outlook.com
Subject: Re: [MailtoWebmails] Add Webservice Request: Office (exchange) 365 (#34)

Whats your domain?

I think it will work if we do th

[2015-10-13 00:18] Noitidart commented on #34
Shoot that email to your support team. And mention you tried the link I gave you. They'll help us out for sure.

[2015-10-13 00:19] Noitidart commented on #34
Also if you can set up a dummy account for me on your server that would help me help you.

[2015-10-13 00:19] exsolve commented on #34
Thanks for your help!
Date: Mon, 12 Oct 2015 17:18:33 -0700
From: notifications@github.com
To: MailtoWebmails@noreply.github.com
CC: exsolve@outlook.com
Subject: Re: [MailtoWebmails] Add Webservice Request: Office (exchange) 365 (#34)

Shoot that email to your support team. And mention you tried the link I gave you. They'll help us out for sure.

—
Reply to this email directly or view it on GitHub

[2015-10-13 00:25] Noitidart commented on #34
My pleasure, let me know what the support team says, so I can add a template for this so others with exchange server can easily use the template for their own.

[2015-10-15 11:40] amirhzz opened #35 "Add Webservice Request: TYPE_NAME_OF_WEBMAIL_SERVICE_HERE"
I was trying to install a webmail service from the options panel of MailtoWebesrvices but the one I was looking for was not found. I was looking for Office 365

[2015-10-15 11:41] Noitidart commented on #35
Hi amirhzz thanks for the post! We are working to add office 365 in this topic here: https://github.com/Noitidart/MailtoWebmails/issues/34

May you also please try to contact the support team with this message:

    I was looking for the "Wildcard Compose URL" for your webmail service. For example Hotmail wildcard url is: "https://mail.live.com/secure/start?action=compose&to=%s", where the "%s" is

[2015-10-23 00:29] ruihildt commented on #26
@Noitidart , is it available for regular user? I updated the addon, but I don't get the same interface as int he screenshots...

Version I can download from Mozilla website is  1.3.1-signed.

[2015-10-23 01:22] Noitidart commented on #26
Hey @ruihildt its not approved yet for public, its in the review process. But you can be an early bird by downloading from the release page: https://addons.mozilla.org/en-US/firefox/addon/mailtowebmails/versions/

You'll see v2.1 there :)

[2015-11-19 22:13] Noitidart commented on #20
Hey all did they add something yet?

Can you test this

    https://inbox.google.com/%s

So if you paste to your browser:

     https://inbox.google.com/mailto:blah@blah.com

Does it populate the compose with `blah@blah.com`?

[2015-11-19 22:24] NickolasLapp commented on #20
No luck with that. Tested on Google Chrome an Mozilla Firefox with Ubuntu 14.04 64bit.

[2015-11-19 22:25] Noitidart commented on #20
Thanks @NickolasLapp  for the quick reply! And in depth testing. :)

[2015-11-20 00:31] KingMob commented on #20
Just tested in Firefox on OS X, can confirm, not working. Man, Google is
really letting their services languish these days.

m

On Thu, Nov 19, 2015 at 5:25 PM Noitidart <notifications@github.com> wrote:

[2015-11-20 02:07] Noitidart commented on #20
Thanks @KingMob for the test! :)

By the way v2.1 has been approved. So as soon as anyone figures it out, if you submit it, it will show up for everyone else. :) No need to rely on me :) But I'll be here just in case! :)

[2015-12-23 16:25] jdelamater99 commented on #20
I've made a little progress on this.

Testing this URL, works. It loads Inbox, opens a compose panel, and populates the To field.
https://inbox.google.com/u/0/?mailto=&to=blah@blah.com

But, when I try putting in the wild card, it isn't capturing the To address. It loads Inbox, opens a compose panel, but does not populate the To field.
https://inbox.google.com/u/0/?mailto=&to=%s

[2015-12-23 16:28] Noitidart commented on #20
@jdelamater99 wow fantastic work there. I can't test it but hopefully some others can.

The reason is likely because the standardized method for these URLs, is that the wildcard is replaced with `mailto:blah@blah.com`. Notice the `mailto:` prefix. So `https://inbox.google.com/u/0/?mailto=&to=%s` would turn to `https://inbox.google.com/u/0/?mailto=&to=mailto:blah@blah.com`

[2015-12-23 16:35] jdelamater99 commented on #20
@Noitidart That looks like exactly what is happening. When I use the link, it strips the parameters out of the URL, leaving only inbox.google.com/u/0/, which made it tricky to get, because you had to stop the page before it adjusted the URL, but I managed to get it, and here is the URL that's being passed.

https://inbox.google.com/u/0/?mailto=&to=mailto%3Adestinyghoststories%40gmail.com

[2015-12-23 16:37] Noitidart commented on #20
Wow fantastic! Does that work? I just approved your submission so it will now show in public under the "Discover" section for everyone. :)

[2015-12-23 16:41] jdelamater99 commented on #20
Only partially. It doesn't populate the To field. The mailto: (mailto%3a) is interferring with the script on the page that validates the to address. Taking that out, it works.

https://inbox.google.com/u/0/?mailto=&to=blah%40blahl.com

[2015-12-23 17:05] Noitidart commented on #20
@jdelamater99  I'll look into hacking firefox so we can bypass the mailto: auto prefix-ing. It'll be tough though its a standardized thing. Last I tried this, a year ago, it was deep deep inside and I couldn't pull it off.

[2015-12-23 18:18] jdelamater99 commented on #20
Thanks @Noitidart.

I wrote a GreaseMonkey script, to use in the interim. If anyone wants to use this until a permanent solution is found, here is the link.

https://gist.github.com/jdelamater99/b5f852780a0236ce1db4#file-googleinbox_removeurlmailto-user-js

[2015-12-24 12:36] Cornan opened #36 "EarthLink WebMail - need to strip out "mailto:" from %s"
I tried to configure EarthLink WebMail, but the "mailto:" string is part of %s, so I ended up with "mailto:" in the email address in the EarthLink WebMail window.

The link is:

http://webmail.earthlink.net/wam/rich_composer.jsp?to=emailaddress,emailaddress,...

I even found a transparent .gif logo for EarthLink.

I tried to use the JavaScript Notepad to call registerprotocolhandler myself, but it

[2015-12-24 15:13] Noitidart commented on #36
Does this link here open up a new tab, with the TO line prepopulated with "blah@blah.com`?

    http://webmail.earthlink.net/wam/rich_composer.jsp?to=mailto:blah@blah.com

[2015-12-25 13:34] Cornan commented on #36
No, in EarthLink it appears as:

TO: mailto:blah@blah.com

I don't know their rankings today, but at one point EarthLink was a "major" provider - I'll send a tech support message just for the sake of it.  I previously searched their site and found nothing.

I use Outlook on my main computer, but it's always tedious not being about to use "mailto:" links on other computers.  That's how I found your

[2015-12-25 15:58] Noitidart commented on #36
Thanks @Cornan. I posted a template in the addon description here - https://addons.mozilla.org/en-US/firefox/addon/mailtowebmails/ - to reach out to support teams with.

[2015-12-27 13:42] Cornan commented on #36
So.... do you think you might still be able to deliver "Earthlink" by stripping out the unwanted "mailto:" ???

[2015-12-27 13:43] Noitidart commented on #36
I haven't figure out how to strip the prefix but am working on it as I get a chance. Did support from Earthlink respond to your email yet?

[2015-12-27 14:10] Cornan commented on #36
EarthLink has removed their email support options so I used Chat and the agent was not helpful

[2015-12-27 14:12] Noitidart commented on #36
Ok ill try to strip the prefix

[2016-01-09 16:51] Noitidart commented on #20
Hey @jdelamater99 does this URL template below, strip the mailto?

    https://inbox.google.com/?view=cm&fs=1&tf=1&source=mailto&to=%s

[2016-01-22 15:46] jdelamater99 commented on #20
@Noitidart, unfortunately no, that didn't work.

I have 3 invites to inbox. If you would like, I can send you one. Might make it easier for testing and troubleshooting.

[2016-01-22 22:23] Noitidart commented on #20
Thanks @jdelamater99  I really appreciate it, but I don't have a device to test it on :(

[2016-02-07 21:01] jeb6 opened #37 "gmx.com url"
I need a URL for gmx.com.  I saw references for gmx.net, but I could not get those to work.  Can you help me?  Thanks.

Joe Bigler

[2016-02-07 21:02] Noitidart commented on #37
Hi @jeb6 I'm not sure what you mean. Where are these references?

[2016-02-25 05:28] soundfeelings opened #38 "do you have malicious code on your website"
I love your addon and wanted to use it again from my new computer. i added it to FIREFOX and then went to "options" which takes me to your website. Then my MALWAREBYTES warns me that you have malicious code on your site. maybe you are not aware of this or is it intentional. Anyway, i would love to continue using your addon but feel hesitant to do it until you clean this issue up. Can you please ke

[2016-02-25 05:34] Noitidart commented on #38
Wow thanks very much for this report. May you please share that malware bytes report. There is no malicious code, the details being sent to the server are open source and visible right here - https://github.com/Noitidart/MailtoWebmails/blob/master/bootstrap.js#L509

And the contents of submitJson is seen in your local file here - https://github.com/Noitidart/MailtoWebmails/blob/master/bootstrap.js

[2016-02-25 05:34] Noitidart commented on #38
A screenshot of the mbam report would be nice too please if possible.

[2016-02-25 06:01] soundfeelings commented on #38
ok. here is the screenshot. You are saying that it is not malicious code. my malware program just THINKS it is bad?
![maliciouswebsiteblocked-mailtowebmails](https://cloud.githubusercontent.com/assets/17467206/13311291/0a837e62-db42-11e5-93ea-dc454f5bb485.JPG)

[2016-02-25 08:15] Noitidart commented on #38
I am using a free web host for that. I bought hosting last month, I'll transition it over to the new host and see if it makes a difference.

Thanks for the screenshot.

[2016-02-25 16:13] soundfeelings commented on #38
That is great news. Thanks for the update.

[2016-04-02 18:53] retoter opened #39 "is there a way to add ProtonMail?"

[2016-04-03 08:21] Noitidart commented on #39
Please try `https://mail.protonmail.com/secure/start?action=compose&to=%s`

[2016-04-05 11:40] retoter commented on #39
Thanks for your speedy reply!

I created an entry using your link. The result is the following: Clicking on a mailto-Link I get redirected to ProtonMail (where I have to login even though I'm logged in in another tab) – videlicet to my inbox, not to the compose-button having lost the recipient-address :(

Maybe it'll work in the future …

[2016-04-05 11:48] Noitidart commented on #39
My pleasure @retoter

Please try emailing their support team with this email template:

I was looking for the "Wildcard Compose URL" for your webmail service. For example Hotmail wildcard url is: "https://mail.live.com/secure/start?action=compose&to=%s", where the "%s" is where the clicked on email address gets populated. For instance when I click on a mail link of "mailto:blah@hotmail.com" it sho

[2016-04-13 21:57] luther5 opened #40 "%s wildcard not needed for FastMail"
Being forced to include the %s wildcard is making the app unusable. What am I doing wrong?

[2016-04-13 22:10] #40 closed

[2016-05-09 20:27] klausenbusk opened #41 "Not working with latest Firefox Nightly"
Hello

It seems like you extension does not work with latest Firefox Nightly (49.0a1 (2016-05-09)).

`about:mailto` just show a blank page.

- Kristian

[2016-05-09 20:27] Noitidart commented on #41
Thanks for this note I'll take a look at it by end of this week :)

[2016-05-25 23:41] klausenbusk commented on #41
Any update on this?

[2016-05-26 00:15] Noitidart commented on #20
Hey alil can you please try this URL: `https://inbox.google.com/mail/?extsrc=mailto&url=mailto:YOUR_EMAIL_HERE` and see if it worksplease

[2016-05-26 00:16] Noitidart commented on #41
I think I almost found the issue, should have it fixed by tonight, thanks for reminder :)

[2016-05-26 00:32] Noitidart commented on #41
@klausenbusk may you please try the beta version - https://addons.mozilla.org/en-US/firefox/addon/mailtowebmails/versions/beta

If that works for you then I'll go ahead and release it :)

[2016-05-26 00:44] klausenbusk commented on #41
Seems to be stuck on "Contacting server...", not sure it related.

[2016-05-26 00:54] Noitidart commented on #41
That sounds like lag to the server. I just loaded the page it came up fine. Server is up too. Beta version has logging enabled, you can open browser console with ctrl + shift + j to see any logging, that will show if error happens.

[2016-05-26 00:57] klausenbusk commented on #41
I will try that tomorrow, just went to bed :)
Den 26. maj 2016 2.54 AM skrev Noitidart <notifications@github.com>:That sounds like lag to the server. I just loaded the page it came up fine. Server is up too. Beta version has logging enabled, you can open browser console with ctrl + shift + j to see any logging, that will show if error happens.

—You are receiving this because you were mentioned.Re

[2016-05-26 01:35] Noitidart commented on #41
Thanks brother :)

On Wed, May 25, 2016 at 5:57 PM, Kristian Klausen <notifications@github.com>
wrote:

[2016-05-26 10:56] klausenbusk commented on #41
Still not working (last Nightly).

Maybe this can help you.
![skaermbillede fra 2016-05-26 12-55-31](https://cloud.githubusercontent.com/assets/1080056/15572482/33f3eb32-2341-11e6-9f03-36c2939a79dd.png)

[2016-05-26 10:59] Noitidart commented on #41
Wow this is so weird, I just updated my nightly and downloaded from beta channel on AMO its working. I cant reproduce this. Let me hack at it some more. thanks for the screenshot it helps a lot!

[2016-06-05 12:43] klausenbusk commented on #41
Did you look any further into this @Noitidart?

[2016-06-05 13:35] Noitidart commented on #41
Dear @klausenbusk I can't thank you enough for contiually checking on this. Without you I wouldn't get it done I was so swamped. I just uploaded another beta please try this one - https://addons.mozilla.org/en-US/firefox/addon/mailtowebmails/versions/beta

[2016-06-05 16:50] klausenbusk commented on #41
Now it show some services, but I can't find any service for "Outlook.com" is that really missing? :)

Also the manage page look like this (no latestPopUpdateTime param found):
![skaermbillede fra 2016-06-05 18-41-46](https://cloud.githubusercontent.com/assets/1080056/15806842/40004470-2b4d-11e6-885d-347b4e00058b.png)
also it seems like I can't uninstall "Google inbox", if I click uninstall after a

[2016-06-06 00:03] Noitidart commented on #41
Hm this is weird. Would you be comfortable with a Teamviewer session? I can't replicate that. If I can run some tests on your firefox that would help me so much. If not no problem though I'll keep trying.

[2016-06-06 00:08] Noitidart commented on #41
I uploaded a 3rd beta please try this one - https://addons.mozilla.org/en-US/firefox/addon/mailtowebmails/versions/beta

[2016-07-19 21:42] Noitidart commented on #20
Special thanks to Frank for submitting a fix for this. It has now been updated. Super super thanks to Frank, he solved what we have been struggling with for months!

I have marked google inbox as a popular handler so it shows on the main page now.

[2016-07-19 21:45] Noitidart commented on #41
@klausenbusk  I was wondering if beta 3 was working for you, if it is I'll go ahead and move it to production. :)

[2016-07-19 21:49] klausenbusk commented on #41
Hello @Noitidart totally forgot about this. I still have the issue mentioned in https://github.com/Noitidart/MailtoWebmails/issues/41#issuecomment-223823689 , I can't uninstall services when first installed and "Attention: no latestPopUpdateTime param found"..

[2016-07-19 21:54] Noitidart commented on #41
Thanks so much for the super fast reply!

Can you please try following these steps:

1. Click on main menu help icon:
  ![](http://i.imgur.com/eDU9zEc.png)
2. Click on "Troubleshooting"
  ![](http://i.imgur.com/RhfdZRp.png)
3. In the page that opens click "Show Folder"
  ![](http://i.imgur.com/yKSvztD.png)
4. Go to the `jetpack` sub directory:
  ![](http://i.imgur.com/LcAocme.png)
5. In there is a

[2016-07-19 22:03] klausenbusk commented on #41
Nice tutorial (but a bit overkill :))

So I removed the addons, deleted the whole jetpack folder and installed the addon again.

Now I see "Popular Services", but I still can't uninstall services.

[2016-07-19 22:05] Noitidart commented on #41
Hahaha, I made a screenshot addon so I'm obsessed with screenshots right now :P haha - https://addons.mozilla.org/en-US/firefox/addon/nativeshot/

What happens when you click "Uninstall"? After you click uninstll then reload the page, it should be gone.

[2016-07-19 22:06] klausenbusk commented on #41
It just show up again.

[2016-07-19 22:08] Noitidart commented on #41
Can you please go to `about:preferences#applications` and see if the service is still listed after uninstall in the `mailto` handlers list:
![](http://i.imgur.com/IsZh7gE.png)

[2016-07-19 22:12] klausenbusk commented on #41
It is.

[2016-07-19 22:15] Noitidart commented on #41
Wow very interesting. So it is still staying? Can you please open browser console with Ctrl + Shift + J (Cmd on mac) and then click uninstall and paste here if there is an error.

[2016-07-19 22:17] klausenbusk commented on #41
[code]
I didn't restart Firefox if that have anything to say..

[2016-07-19 22:19] Noitidart commented on #41
It shouldnt but can you try please. Are you uninstalling a 'popular service'? That should remain listed even after uninstall. But the weird part is, its not removing from that mailto handlers list in the settings huh?

[2016-07-19 22:21] klausenbusk commented on #41
It is still present in handlers after a restart.

I'm uninstalling a "Discovered service"..

[2016-07-19 22:45] Noitidart commented on #41
This is really weird, and there is no error in browser console? I can't replicate this :(

Would you be comfortable with me connecting to your computer with Teamviewer? This is an odd request I totally understand if you don't want to go that way.

[2016-07-19 23:38] jdelamater99 commented on #20
Sorry for the late response, I didn't get an email notification for the previous comment asking for retesting.

But I'm really glad that a solution was found. What was the solution, if you don't mind me asking.

[2016-07-20 00:51] Noitidart commented on #20
Hi @jdelamater99  here is a quote from Frank in the email he sent me:

[2016-07-20 00:51] #20 closed

[2016-07-20 10:15] Noitidart commented on #41
I'll keep trying to reproduce this, however i went ahead and release v2.4 for now.

[2016-07-28 00:25] mrabomination opened #42 "When opening outlook, the compose message dialog does not open"
Exactly as the title says; whenever outlook.com is launched the compose new message does not open, instead it just sits on my inbox.

[2016-07-28 11:30] Noitidart commented on #42
Yeah this isue happend and I emailed their support team, but they haven't got back to me. I might have to just dive in and try to find out the new template url.

[2016-07-28 21:44] mrabomination commented on #42
I'm pretty sure that's what the root of the issue is, even just typing the URL that should open a new message doesn't work.

[2016-08-10 18:06] Noitidart commented on #42
I just updated the URL, please load about:mailto and it will update it. It is now opening the compose page, however it is not stripping the prefix of `mailto:`, I asked the support team but they are not getting back to me, so I created a public discussion topic:

http://answers.microsoft.com/en-us/outlook_com/forum/oemail-ocompose/mailto-handler/a0d79106-2819-4410-ac6d-19d1d2d683b4?tm=147085230315

[2016-08-25 20:54] gespdove commented on #34
Office365 OWA and The included Office preset have the same problem with setting the TO field to "mailto:user@domain.com" as reported in #36 and #42.

Using URL format: https://outlook.office365.com/owa/?realm=workdomain.com&rru=compose&to=%s

Otherwise it works OK.

[2016-08-25 22:01] Noitidart commented on #34
Thank you @gespdove I'll update the template now. So I'll do this:

I'll update the Office 365 to be "Office 365 Template" and then set the URI to be `https://outlook.office365.com/owa/?realm=YOUR_DOMAIN_HERE&rru=compose&to=%s`. And then I will delete "Office 365 Alternate". Does this sound right?

I really appreciate that you wanted to improve others experiences with Firefox but providing this so

[2016-08-25 23:18] gespdove commented on #34
Thanks, the "Office 365 Template" name would make it clearer. It confused me a little with the duplication.

It sounds like that "mailto:" hanging around in the address field is a tough one to fix, though.

[2016-08-25 23:33] Noitidart commented on #34
Done. I also marked it as "popular" so it shows up on the main page. We'll have to get in touch with the support team of office 365. Would you be able to do that? I tried via outlook and they didn't bother with me. I think it's because I don't actually have the service.

[2016-08-25 23:35] Noitidart commented on #34
Actually I had to remove it from popular as the popular ones are not allowed to be edited :( and it has to be edited in order to replace the YOUR_DOMAIN_HERE. I'll work on having this editable in the next addon release.

[2016-08-26 03:42] gespdove commented on #34
@Noitidart Sure, I can check with MS support about stripping "mailto:" from the "to" address.

Now I'm trying to figure out how Firefox uses '%s' in the 'mailto' protocol handler.... I should just stop now.  :}

[2016-08-26 04:04] Noitidart commented on #34
Thanks so much @gespdove !

[2016-09-10 19:59] callmetaste commented on #14
@Noitidart
Sorry I never responded. The link is
`https://outlook.office.com/owa/?realm=organization.com&to=email&subject=subject&body=body&cc=cc`

[2016-09-10 20:30] Noitidart commented on #14
Thanks you @callmetaste for that!

Currently this is what it is:
`https://outlook.office365.com/owa/?realm=YOUR_DOMAIN_HERE&rru=compose&to=%s`

We have the extra `rru=compose` is this ok? Or should I remove it from there?

[2016-09-10 21:08] callmetaste commented on #14
Oh strange. Didn't notice it changed the link when I copied it.

`https://outlook.office.com/owa/?realm=example.com&rru=compose&to={to}&subject={subject}&body={body}&cc={cc}`

The 'rru=compose' is necessary

[2016-09-10 21:22] Noitidart commented on #14
Oh cool. Thanks again. I'll close this now that its working for all.

By any chance would you know the mailto url for hotmail/live.com - they changed it and the one we have isn't working anymore. :(

[2016-09-10 21:22] #14 closed

[2016-09-11 14:55] callmetaste commented on #14
I'll try to make a pull for you. Just a heads up though, it's my first time doing do.

Pull is here.
c64166f74f141f460c63942218afdfce8d5b9fff

[2016-09-11 15:05] callmetaste commented on #34
Does the mailto mentioned at #14  also work here? Ours used to be .office365. for a while.
`https://outlook.office.com/owa/?&rru=compose&to=%s`

[2016-09-23 22:13] anyhowes commented on #42
Hi There,

I just got this add-on, noticed this problem, and went to your GitHub issues page which lead me to this thread. Any updates? Normally it wouldn't be so bothersome since you could manually delete the "mailto:" portion of the link, but because of how the new Outlook.com displays email addresses, it involves a few more clicks to manually edit addresses.

[2016-09-23 23:06] Noitidart commented on #42
Hi @anyhowes - I have not looked into stripping the `mailto:` prefix yet. I plan to rework the internals of the addon and hope to add a default "strip `mailto:` prefix if it wasn't" feature. Maybe we should file a separate issue topic dedicated to that huh? What do you think?

[2016-09-24 19:31] anyhowes commented on #42
I think that's a swell idea. Not the highest priority, but it will keep it on your radar.
Thanks!

[2016-09-24 19:35] anyhowes opened #44 "Not stripping the "mailto:" prefix in outlook.com"
Since the update to outlook.com, the add-on works and brings up a new email, but now leaves the "mailto:" prefix attached to the beginning of the email address.

Ex: I click on the link "mailto:example@server.com" and when the compose new email begins, the 'To' address is "mailto:example@server.com" instead of the correct "example@server.com".

Not a high priority issue (you can manually go and ed

[2016-09-24 19:37] Noitidart commented on #44
Thanks for creating the issue! I want to include this as a default feature in the next version. It's annoying to remove that prefix manully :)

[2016-10-05 23:05] #38 closed

[2016-10-05 23:30] Noitidart commented on #38
Fixed in 2.8 release, I switched to a paid server. Before I was using a free server which I think was causing the problems.

[2016-10-15 06:59] Grodge commented on #42
Hi,

This used to work perfectly, but since the new changes to Outlook.com, the inbox is presented, but nothing else. I am basically reiterating what this thread is about already. Any chance of a fix? It is otherwise a great extension, and I'm now not sure whether to remove it, as the weeks are rolling by with no fixes. thanks so much! Sophie

[2016-10-15 16:06] Noitidart commented on #42
@Grodge thanks for showing your vote. I badly want to fix this, I even reached out to Microsoft team but they aren't responding to me.

The community can help me get a fix for this though, please try searching the web and email Microsoft asking them for this. I have done this but but hopefully the community will have more luck. :)

[2016-10-18 09:34] Grodge commented on #42
Hi Noitidart,

Thank you so much for your reply!  Yes, I realised that you had this issue with MS not responding, and I also could see your great wish to put this right. It is a unique extension, as far as I know, for turning mailto: links into webmail-enabled, and I really hope you can make some progress with it.

In the meantime, thank you for all your help to the community.

Kind regards,

Geor

[2016-10-18 09:37] Grodge commented on #42
Microsoft give such "generic" answers, that it seems almost impossible to get something sensible from them. I will try and make contact though, thanks!

[2016-10-18 16:52] Noitidart commented on #42
@Grodge I appreciate your comments very much! :)

I had this problem with Google Inbox as well, I worked with the community on it but eventually a hero figured it out and he saved us all the headache of communicating with Google. I'm hoping as a community we can knock out this one as well! It's what it takes with corporate giants like these and their poor support teams for non-paying clients.

[2016-10-20 06:45] Grodge commented on #42
Hi again, and thank you for your reply. Sadly I'm not a coder, but many times community-based approach is the "only" way, because large corporations like Google and MS are practically unreachable, very slow to put things right, and very generic in their responses if they respond at all.

I have seen their replies on forums, and they literally cut and paste "pre made" answers, and don't even appear

[2016-10-21 23:07] abdomok12 opened #45 "assuit"

[2016-10-22 00:25] Noitidart commented on #45
Hi there @abdomok12 may you please provide more info, I don't understand the issue.

[2016-10-31 04:03] justinlosh opened #46 "Mail Links - Open in new tab"
Hello,
Is it possible or I would like to suggest a feature. When you click mailto: links, they open in a new tab, rather than the same tab the link was clicked?

Thank you

[2016-10-31 04:10] Noitidart commented on #46
This is a great idea! I'll hook this up in the next version :)

[2016-10-31 04:11] justinlosh commented on #46
Thank you, really appreciate it!

[2016-11-05 02:14] ghost commented on #21
@Noitidart if you need help getting support for Smartermail / Smartertools then give me a bell. i have multiple paid memberships so can raise requests etc quite easily.

I just found your add in and will be letting SM know about it as well as telling clients. This closes the loop for us as a mail provider - letting mail-to links work like a native app.

Thank you.
http://mail.postbox.net.nz/Main/f

[2016-11-05 02:38] Noitidart commented on #21
Thank you @oitconz !! When clicking on `mailto:` href links, the protocol handler only allows `to:`. :( Subject, CC, and BCC are not supported. But I can inject a content script into each page and override it, it's much less performant, and room for error in case mailto links are dynamically added and I miss it with a MutationObserver. But I might hook it up this content script method in future, b

[2016-11-05 05:37] ghost commented on #21
Thanks for the reply.  I was  just curious as some Web formats do allow subject etc from the anchor / href.

Regards,
Shane HollisOutsourced Information Technology LtdM 022 626 5084

-------- Original message --------
From: Noitidart notifications@github.com
Date: 5/11/16  15:39  (GMT+12:00)
To: Noitidart/MailtoWebmails MailtoWebmails@noreply.github.com
Cc: Shane Hollis itsupport@outsourcedit.co.n

[2016-11-19 10:39] Keyrlis commented on #46
I've been going out of my mind trying to figure this out, and have finally come here after going so far as a system format/reinstall. AT least I know it's not just me, and my rig is faster, now, without all the bloat :)
Anyway, I am going to assume that the same issue with M$ and the way OWA handles "mailto:" requests is also the root of the "Email link..." failure. The difference being that using

[2016-11-19 17:30] Noitidart commented on #46
Thanks @Keyrlis for that detail! I didn't know about "email page". This addon was meant to just open "mailto:blah@blah.com" links. Your detail really helps I will try to support that.

[2016-12-07 21:01] SamB commented on #46
FYI, this is also filed against Firefox as [bug 526736](https://bugzilla.mozilla.org/show_bug.cgi?id=526736).  And to make things worse, it also breaks the back button ([bug 499527](https://bugzilla.mozilla.org/show_bug.cgi?id=499527)).  I suspect it would be easier to fix this in Firefox than to hack around the issue in your extension, and it would probably help more users, too.

[2016-12-07 21:04] Noitidart commented on #46
Thank you @SamB this is very cool! It helps me a lot! I signed up as CC on that bug and will follow it through!

[2016-12-08 14:57] anttitelio commented on #46
Open in new tab already works with a middle click at least on Linux. What I'd like, though, is to open the composition window as a pop-up. Would that be possible? Oh, and should this be filed as a separate request?

[2016-12-08 19:06] Noitidart commented on #46
@anttitelio thanks that's interesting. I think it's ok to keep it in this topic. I'll work that in along with this option. Very cool. So I'll have an option "Primary Click Target" and they can pick "New Window" or "New Tab".

[2017-01-28 09:41] fankmd commented on #42
I am using a macbook.  When I right click on the link, it does not give me the option to open in a new tab (see screenshot below).  When I click it opens my Yahoo mail in the same tab, initially it opens the inbox page, but if I wait about 45 seconds, the compose page comes up properly.

![image](https://cloud.githubusercontent.com/assets/25400520/22395723/e46c58a0-e53d-11e6-9c72-6f931b44660b.png)

[2017-01-31 16:13] jputting opened #47 "STILL NOT FIXED:Not stripping the "mailto:" prefix in outlook.com"
Hi,

I would like to know when are you people going to finally fix this issue of your add-on not removing the "mailto" prefix when using outlook.com

People reported this issue to you back in September 2016.

To be quite frank you have plenty of time to correct this annoying issue and yet almost 6 months after this was reported you have still NOT FIXED THIS ISSUE.

Please do not keep us waiting an

[2017-01-31 16:16] Noitidart commented on #47
Hi jputting excuse the delay please, but with webextensions firefox changed everything. I'm currently waiting on the Firefox team to land a feature - https://bugzilla.mozilla.org/show_bug.cgi?id=1271553#c34 - if I fix it too early, it is likely the firefox team will make a change to break my fix.

If they take too long though I'll go ahead and update it, using a content script method, but because

[2017-02-20 16:01] JeremyWW opened #48 "Non-Functional"
Just this minute installed Firefox 64 bit. Tried to use the add-on but I get:

Could not establish connection with server, the server is probably down. Could not check if updates are available. Click here to try again.

Trying again gets the same result. I'm trying to find a way to use Google Inbox as the mail handler in Firefox.

[2017-02-20 16:14] Noitidart commented on #48
Hi @JermeyWW thanks for this report. Please excuse the server issues. I will take a look right now and get back to you.

MailtoWebmails does offer a Google Inbox handler. As soon as the server is up you should be good to go. :)

[2017-02-20 16:24] JeremyWW commented on #48
Great. Does that mean I'll also be able to set Firefox as the Windows email default as I've been able to do with Chrome?

[2017-02-20 16:25] Noitidart commented on #48
I'm not sure how to set browser as email handler on Windows. May you please share steps on how you did this on Chrome? I can then help you, even write in a function into MailtoWebmails, to do that. :)

Also about the server I'm not able to get it up, I sent a support ticket to my hosting IT team.

[2017-02-20 16:37] JeremyWW commented on #48
I didn't need to do anything. It's built in to Chrome and can be chosen in Windows settings as the MAILTO handler system wide. Perhaps this isn't even possible with Firefox?

[2017-02-20 16:48] Noitidart commented on #48
Google Chrome probably added it with a system call. Can you please share a screenshot of where it allows you to pick Chrome? I can definitely back trace that and get the same into MailtoWebmails if Firefox doesnt do it.

[2017-02-20 17:11] JeremyWW commented on #48
![2017-02-20_170717](https://cloud.githubusercontent.com/assets/544340/23135222/a7268d30-f78f-11e6-9ec9-d664c5855a05.png)
![2017-02-20_170800](https://cloud.githubusercontent.com/assets/544340/23135223/a7385984-f78f-11e6-91dc-259c2bc52a76.png)
![2017-02-20_170900](https://cloud.githubusercontent.com/assets/544340/23135224/a746f534-f78f-11e6-9ad4-1a9ba16b2033.png)

[2017-02-20 17:20] Noitidart commented on #48
Oooh very cool. Thanks! I will do some research on the subject.

[2017-02-20 17:31] JeremyWW commented on #48
I'd appreciate it if you're able to get this working. My use of Firefox totally depends on it. If it isn't going to work I'm back to Chrome.

[2017-02-21 19:14] Noitidart commented on #48
@JeremyWW - the server is back up, may you please try now

[2017-03-17 21:12] beegarden commented on #47
Hi, any progress on this front? Would love to see a fix sometime soon.

[2017-03-17 21:25] Noitidart commented on #47
Hi there @beegarden a protocol handler API was just released for webextensions here - https://blog.mozilla.org/addons/2017/03/13/webextensions-firefox-54/ - it landed in Nightly, Firefox 54, I have already started trying to hook it up. :)

Thanks so so much for yours and everyones patience!

[2017-06-23 21:55] 10ekips opened #49 "Mailto: Runbox.com"
Trying to integrate mailto: link for RUNBOX.COM. Have been a client since the inception in 1999. Any guidance greatly appreciated!

[2017-06-29 17:58] Noitidart commented on #49
Hi there 10ekips! I will create an account and see if I can figure out the mailto url :)

[2017-10-20 23:53] bungabunga opened #50 "MailtoWebmails not compatible with Firefox 57+"
Hi, FF v57 release is approaching in november '17 and this great addon will stop working. Please update it to work as WebExtension

Thank you!

https://arewewebextensionsyet.com/#addons

[2017-10-24 12:27] bepolymathe commented on #39
Any news about this ?

[2017-11-13 13:01] nam3k commented on #39
Interested in this too.

[2017-11-13 14:13] Noitidart commented on #39
I'll be making a webext version. I need the communities help to reach out to the services they want support for. I'll build the extension but please help me get in touch with ProtonMail etc to get their link. Please share with us once you do.

It is very tough to develop and also deal with 3rd party services. So please help me community so I can focus on the development. :)

[2017-11-15 10:15] bepolymathe commented on #39
All right, I'll give you a hand. What information do you need from protonmail to run the Firefox extension? Compatible with FF 57 I imagine...
I am an interested user, not an industry professional; -)

[2018-02-12 05:01] onedude opened #51 "server down?"
I just installed the extension but am having problem installing any webmail services.  Below is the error message that I'm seeing:

"Could not establish connection with server, the server is probably down. Could not check if updates are available. Click here to try again."

Tried several times and no change.

Appreciate any pointers!

[2018-02-12 05:08] Noitidart commented on #51
Hi @onedude yes the server is down. The addon doesn't work anymore due to changes in Firefox addon system. So I temporarily stopped using that server until I get the extension working agian.

[2018-02-12 05:31] onedude commented on #51
Thanks for the speedy reply!

I'm using it with Waterfox. Do you think once you have updated the extension, the server will work for both Firefox Quantum and older versions as well as Waterfox/Palemoon?

Thanks for this very useful project.

[2018-02-12 05:33] Noitidart commented on #51
Oh darn, Waterfox and the other variants of Firefox I'm not so familiar
with. The update will be for Firefox, Edge, Chrome, etc. :(

On Sun, Feb 11, 2018 at 9:31 PM, onedude <notifications@github.com> wrote:

[2018-02-22 14:30] johanneskoester commented on #39
@Noitidart Any update on this?

[2018-02-22 21:08] retoter commented on #39
I just made a request at protonmail … I'll let you guys know ASAP.

[2018-02-23 18:23] retoter commented on #39
Reply after one day from ProtonMail Support:

Currently, "Wildcard Compose URLs" are not working with ProtonMail and you have to log in to your ProtonMail account upon clicking on them if you are using a web browser for your ProtonMail account.

[2018-09-17 11:29] nsrosenqvist commented on #50
@Noitidart are there any plans on updating this to work as a webextension? I really love the functionality offered by this addon and it would be a shame if development has ceased.

[2018-09-17 19:13] Noitidart commented on #50
Thanks very much for the comments folks! I don't have time to work on this
right now. I think it is easily doable as a WebExtension. What would have
to be done is use a content script to modify atall email links, to instead
open in webmail service.

Content scripts will not work on some sites, Mozilla blocks it. Mostly
their own websites, like addons.mozilla.org.

On Mon, Sep 17, 2018 at 4:30 AM N

[2019-01-30 10:54] raju1986raju commented on #16
you will get netzero wemail settings here : [https://imapsmtp.email/netzero.com-smtp-imap-email-settings.html](url)
[https://imapsmtp.email/netzero.com-smtp-imap-email-settings.html](url)

[2019-02-11 21:47] #13 closed

[2019-06-27 11:42] hdijkema commented on #21
Does anyone know how to insert a body?

[2019-10-09 10:40] #8 closed

[2019-12-30 05:15] ballo commented on #39
What the heck. What year will it be when this is fixed?

[2020-02-18 10:33] jacob414 commented on #39
Bump

[2020-02-18 10:55] jacob414 commented on #39
I suspect Protonmail will need to fix this. On my OS X machine, I modified the file `~/Library/Application Support/Firefox/Profiles/l9t79l8s.default/handlers.json` file to add ProtonMail as a handler using @Noitidart's suggestion from 2016. After a FF restart I could select it in the UI, but on my setup it triggers PM's login page regardless if I'm logged in on other tabs or not. I'll try to go an

[2020-02-18 11:02] jacob414 commented on #39
Back from PM's forums. It seems to be in the same state there - it's been suggested and lies dormant since a few years. If you are PM users I suggest you vote: https://protonmail.uservoice.com/forums/284483-feedback then search `mailto`

[2020-02-18 23:00] ballo commented on #39
Oh, I should have mentioned I fixed this issue by installing an extension on Brave called ProtonMail (unofficial) 1.9.0
https://chrome.google.com/webstore/detail/protonmail-unofficial/jfiaocmgamojjagpllpljapgekgmkaje?hl=en